<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Learnosity SDK - NodeJS</title>
    <script src="//items.learnosity.com/?v2022.2.LTS"></script>
</head>
<body>
    <h1>Standalone Assessment Example</h1>
<div id="learnosity_assess"></div>
<script>
    const request = <%- JSON.stringify(request) %>;
    const itemsApp = LearnosityItems.init(request, {
        readyListener() {
            console.log('ready');
        },
        errorListener(err) {
            console.log('error', err);
        }
    })
</script>
</body>
</html>